aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
certifi
charset-normalizer
click
dataclasses-json
distro
exceptiongroup
fastapi
frozenlist
greenlet
groq
h11
httpcore
httptools
httpx
httpx-sse
idna
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
marshmallow
msgpack
multidict
mypy-extensions
numpy
ollama
orjson
packaging
propcache
pydantic
pydantic-settings
pydantic_core
pypdf
python-dotenv
python-multipart
PyYAML
requests
requests-toolbelt
sniffio
SQLAlchemy
starlette
tenacity
typing-inspect
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
yarl
hypercorn
cffi
cryptography
filelock
fsspec
huggingface-hub
Jinja2
joblib
mpmath
networkx
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
pdfminer.six
pdfplumber
pillow
pycparser
pypdfium2
regex
safetensors
scikit-learn
scipy
sentence-transformers
threadpoolctl
tokenizers
torch
tqdm
transformers
triton
langchain_huggingface
faiss-cpu
